<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>นารายณ์ปราบศาสตรา</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <style>
        body {
            background-color: black;
        }
    </style>
</head>

<body>

    <!-- Nav Section-->
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand text-center" href="#">นารายณ์ปราบศาสตรา</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                </ul>
            </div>
        </div>
    </nav><br><br>
    <div class="container">
        <!-- Header Section-->
        <div class="container">
            <div class="card">
                <div class="card-header">
                    ข้อมูลจุดเข้าค้น
                </div>
                <div class="card-body">
                    <form action="/saverecord" method="POST" encType="multipart/form-data" ref='uploadForm'>
                        <div class="row">
                            <div class="col">
                                <label for="status">สถานะเข้าค้น</label>
                                <select class="form-select mt-2" name="status" id="status" onchange="showFound(this)">
                                    <option disabled selected value="">กรุณาเลือกสถานะการบันทึก</option>
                                    <option value="before">ก่อนเข้าค้น</option>
                                    <option value="current">กำลังค้น</option>
                                    <option value="after">หลังเข้าค้น</option>
                                </select>
                                <div class="invalid-feedback">
                                    กรุณาเลือกสถานะการเข้าค้น
                                </div>
                            </div>
                            <div class="col-auto align-self-end">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" value="true" name="specialcase"
                                        id="specialcase">
                                    <label class="form-check-label" for="specialcase">
                                        เหตุฉุกเฉิน
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="formGroupExampleInput">รหัสจุดค้น</label>
                                    <input list="point" class="form-control" id="placeid" name="placeid"
                                        placeholder="รหัสจุดค้น">
                                    <datalist id="point">
                                        <% for(i=0;i<point.length;i++) {%>
                                            <option value="<%=point[i].trim()%>">
                                                <%}%>
                                    </datalist>
                                </div>
                            </div>
                        </div>

                        <div class="row ">
                            <div class="col">
                                <div class="form-group">
                                    <label for="formGroupHeadername">ชื่อหัวหน้าชุด</label>
                                    <input list="agent" class="form-control" id="name" name="name"
                                        placeholder="ชื่อหัวหน้าจุด ยศ ชื่อ-นามสกุล">
                                    <datalist id="agent">
                                        <% for(i=0;i<agent.length;i++) {%>
                                            <option value="<%=agent[i].trim()%>">
                                                <%}%>
                                    </datalist>
                                </div>
                            </div>
                        </div>
                        <div>
                            <label for="formFileMultiple" class="form-label">อัพโหลดรูปภาพหรือไฟล์วิดีโอ
                                ขนาดไฟล์ไม่ควรเกิน
                                25MB และต้องส่งอย่างน้อย 1 รูปภาพ</label>
                            <input class="form-control" onchange="checkfilesize()" type="file" name="filestore"
                                accept="image/jpeg,image/png,video/*" id="images" multiple />
                            <div class="col-5" id="hidden_divFound" style="display:none;">
                                <label for="formGroupStatusInput">พบเจอสิ่งผิดกฎหมายหรือไม่</label>
                                <select class="form-select mt-2" name="isfound" id="isfound" aria-label="select found"
                                    onchange="showGuns(this)">
                                    <option disabled selected value="">กรุณาเลือกสถานะ</option>
                                    <option value="found">พบ</option>
                                    <option value="notfound">ไม่พบ</option>
                                </select>
                            </div>
                        </div>
                </div>
            </div>
        </div>

        <br>

        <!-- guns record for after status Section-->
        <div class="container my-4" id="hidden_div" style="display:none;">
            <div class="card">
                <div class="card-header">
                    บัญชีตรวจยึด
                </div>

                <div class="card-body">
                    <div class="card text-white" style="background-color: rgb(56, 56, 56);">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <label for="criminal_current">จับกุมซึ่่งหน้า</label>
                                <input type="number" class="form-control w-25 text-center" name="criminal_current"
                                    id="criminal_current" value=0 onchange="criminal_cal()">
                            </div>
                            <div class="d-flex justify-content-between mt-2">
                                <label for="criminal_wanted">จับกุมตามหมาย</label>
                                <input type="number" class="form-control w-25 text-center" name="criminal_wanted"
                                    id="criminal_wanted" value=0 onchange="criminal_cal()">
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="input-group my-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">รวม</div>
                                </div>
                                <input type="number" class="form-control text-center" name="criminal" id="criminal"
                                    value=0 readonly>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        ราย
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Weapon-->
                    <div class="card mt-3 bg-dark text-white">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                ประเภทอาวุธปืน
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                id="weapon_header" data-bs-toggle='collapse' aria-expanded="false"
                                data-bs-target="#weapon_set"></button>
                            </div>
                        </div>
                        <div class="collapse" id="weapon_set" aria-labelledby="weapon_header">
                            <div class="card text-dark m-2">
                                <div class="card-header">
                                    อาวุธปืนทั่วไป
                                </div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <label for="normalguns_registered" class="col-form-label">ปืนมีทะเบียน</label>
                                        <input type="number" class="form-control w-25 text-center"
                                            name="normalguns_registered" value=0 onchange="normalguns_cal()"
                                            id="normalguns_registered">
                                    </div>
                                    <div class="d-flex justify-content-between mt-2">
                                        <label for="normalguns_unregistered" class="col-form-label">ปืนไม่มีทะเบียน</label>
                                        <input type="number" class="form-control w-25 text-center"
                                            name="normalguns_unregistered" value=0 onchange="normalguns_cal()"
                                            id="normalguns_unregistered">
                                    </div>
                                </div>
                                <div class="input-group my-2 px-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">รวม</div>
                                    </div>
                                    <input type="number" class="form-control text-center" name="normalguns" id="normalguns"
                                        value=0 readonly>
                                    <div class="input-group-append">
                                        <span class="input-group-text">
                                            กระบอก
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="d-flex justify-content-between mt-2">
                                    <label for="warguns">อาวุธปืนสงคราม</label>
                                    <input type="number" class="form-control w-25 d-inline text-center" name="warguns"
                                        id="warguns" value=0>
                                </div>
                                <div class="d-flex justify-content-between mt-2">
                                    <label for="thaicraftguns">อาวุธปืนไทยประดิษฐ์</label>
                                    <input type="number" class="form-control w-25 d-inline text-center" name="thaicraftguns"
                                        id="thaicraftguns" value=0>
                                </div>
                            </div>
                        </div>
                       
                    </div>


                    <!-- ammunition-->
                    <div class='card bg-dark text-white mt-2'>
                        <div class="card-header ">
                            <div class="d-flex justify-content-between">
                                เครื่องยุทธภัณฑ์
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button"
                                    id="ammunition_header" data-bs-toggle='collapse' aria-expanded="false"
                                    data-bs-target="#ammunition_set"></button>
                            </div>
                        </div>
                        <div class="collapse" id="ammunition_set" aria-labelledby="ammunition_header">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mt-2">
                                    <label for="barrel">ลำกล้อง(ชิ้น)</label>
                                    <input type="number" class="form-control w-25 d-inline text-center" name="barrel"
                                        id="barrel" value=0>
                                </div>
                                <div class="d-flex justify-content-between mt-2">
                                    <label for="trigger">ชุดลั่นไก(ชิ้น)</label>
                                    <input type="number" class="form-control w-25 d-inline text-center" name="trigger"
                                        id="trigger" value=0>
                                </div>
                                <div class="d-flex justify-content-between mt-2">
                                    <label for="bolt_action">ชุดลูกเลื่อน(ชิ้น)</label>
                                    <input type="number" name="bolt_action" id="bolt_action" value=0
                                        class='form-control w-25 d-inline text-center'>
                                </div>
                                <div class="d-flex justify-content-between mt-2">
                                    <label for="magazine">ซองกระสุน(แม็กกระซีน)</label>
                                    <input type="number" name="magazine" id="magazine" value=0
                                        class='form-control w-25 d-inline text-center'>
                                </div>
                                <div class="d-flex justify-content-between mt-2">
                                    <label for="silencer">ปลอกลดเสียง(ชิ้น)</label>
                                    <input type="number" name="silencer" id="silencer" value=0
                                        class='form-control w-25 d-inline text-center'>
                                </div>
                                <div class="d-flex justify-content-between mt-2">
                                    <label for="light_absorb">ปลอกลดแสง(ชิ้น)</label>
                                    <input type="number" name="light_absorb" id="light_absorb" value=0
                                        class='form-control w-25 d-inline text-center'>
                                </div>
                                <div class="d-flex justify-content-between mt-2">
                                    <label for="scope">กล้องเล็ง(ชิ้น)</label>
                                    <input type="number" name="scope" id="scope" value=0
                                        class='form-control w-25 d-inline text-center'>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--ammo-->
                    <div class="card mt-2 bg-dark text-white ">
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                เครื่องกระสุน
                                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="ammo_header"
                                    data-bs-toggle='collapse' aria-expanded="false" data-bs-target="#ammo_set"></button>
                            </div>
                        </div>
                        <div class="collapse" id='ammo_set' aria-labelledby="ammo_header">
                            <div class="card-body">
                                <div class="d-flex justify-content-between mt-2">
                                    <label for="ammo">ชนิด 9 มม.</label>
                                    <input type="number" class="form-control w-25 text-center" name="ammo_0.9" value=0>
                                </div>
                                <div class="d-flex justify-content-between mt-2">
                                    <label for="ammo_11">ชนิด 11 มม.</label>
                                    <input type="number" class="form-control w-25 text-center" name="ammo_11"
                                        id="ammo_11" value=0>
                                </div>
                                <div class="d-flex justify-content-between mt-2">
                                    <label for="ammo_22">ชนิด .22 </label>
                                    <input type="number" class="form-control w-25 text-center" name="ammo_22"
                                        id="ammo_22" value=0>
                                </div>
                                <div class="d-flex justify-content-between mt-2">
                                    <label for="ammo_38">ชนิด .38 </label>
                                    <input type="number" class="form-control w-25 text-center" name="ammo_38"
                                        id="ammo_38" value=0>
                                </div>
                                <div class="d-flex justify-content-between mt-2">
                                    <label for="ammo_380">ชนิด .380</label>
                                    <input type="number" class="form-control w-25 text-center" name="ammo_380"
                                        id="ammo_380" value=0>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <label for="explosive" class="col-form-label">วัตถุระเบิด</label>
                        <div class="col">
                            <input type="number" class="form-control" name="explosive" id="explosive" value=0>
                        </div>
                    </div>
                    <div class="row">
                        <label for="etc" class="col-form-label">อื่นๆ</label>
                        <div class="col">
                            <input type="text" class="form-control" name="etc" id="etc"
                                placeholder="เช่นยาบ้า 10,000 เม็ด">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <button type="button" class="btn btn-primary btn-sm" onclick="checkfield()"
            data-bs-target="#checkmodal">Submit</button>
        <!-- Modal -->
        <div class="modal fade" id="checkmodal" tabindex="-1" aria-labelledby="checkmodalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <button type="button" class="btn-close"  onclick="loading()" data-bs-dismiss="modal" aria-label="Close"></button> -->
                    </div>
                    <div class="modal-body">
                        <h5 class="modal-title text-center" id="checkmodalLabel">กรุณาตรวจสอบข้อมูลอีกครั้งก่อนดำเนินการ
                        </h5>
                        <div class="d-flex mt-2 justify-content-center">
                            <div class="spinner-border" id="loading" style="display:none;" role="status"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="hideloading()"
                            data-bs-dismiss="modal">Close</button>
                        <button type="submit" onclick="loading()" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="field0" tabindex='-1' aria-labelledby="field0Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                        <h6 class="modal-title text-center" id="field0Label">กรุณากรอก
                            สถานะเข้าค้น,รหัสจุดค้น,ชื่อหัวหน้าชุด ให้ครบถ้วน
                        </h6>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        </form>
    </div>

</body>

</html>
<script type="text/javascript">
    function showFound(status) {
        if (status.value == "after" || status.value == "current") {
            document.getElementById('hidden_divFound').style.display = "block";
        } else {
            document.getElementById('hidden_divFound').style.display = "none";
            document.getElementById('hidden_div').style.display = "none";
        }
    }

    function checkfield() {
        let status = document.getElementById('status')
        let placeid = document.getElementById('placeid')
        let headname = document.getElementById('name')

        let myModal = new bootstrap.Modal(document.getElementById('checkmodal'))
        let modalalertfield = new bootstrap.Modal(document.getElementById('field0'))
        console.log(status.value + ":" + placeid.value)
        if (placeid.value == "" || headname.value == "" || status.value == "") {
            modalalertfield.toggle()
        } else {
            myModal.toggle()
        }

    }

    function checkfilesize() {
        let fi = document.getElementById('images');
        // Check if any file is selected.
        let isover = false
        if (fi.files.length > 0) {
            if (fi.files.length > 5) {
                alert('สามารถส่งรูปได้สูงสุดไม่เกิน 5 รูป');
                isover = true
            } else {
                for (let i = 0; i <= fi.files.length - 1; i++) {
                    const fsize = fi.files.item(i).size;
                    const toMB = 1024 * 1024
                    const file = Math.round((fsize / toMB));
                    // The size of the file. 25MB
                    if (file >= 40) {
                        alert(`ขนาดไฟล์ ${fi.files[i].name} มีขนาด ${file} MB ใหญ่เกินกว่าที่กำหนดกรุณาเลือกรูปใหม่`);
                        isover = true
                    }
                }
            }
            if (isover) fi.value = ""
        }

    };

    function loading() {
        document.getElementById('loading').style.display = "block";
    }

    function hideloading() {
        document.getElementById('loading').style.display = "none";
    }

    function showGuns(isfound) {
        let select = document.getElementById('status');
        let value = select.options[select.selectedIndex].value;
        if (isfound.value == 'found' && (value == 'after' || value == 'current')) {
            document.getElementById('hidden_div').style.display = "block";
        } else {
            document.getElementById('hidden_div').style.display = "none";
        }
    }

    function criminal_cal() {
        let wanted = document.getElementById('criminal_wanted')
        let current = document.getElementById('criminal_current')
        document.getElementById('criminal').value = parseInt(wanted.value) + parseInt(current.value)
    }

    function normalguns_cal() {
        let regis = document.getElementById('normalguns_registered')
        let unregis = document.getElementById('normalguns_unregistered')
        document.getElementById('normalguns').value = parseInt(regis.value) + parseInt(unregis.value)
    }

</script>