<!DOCTYPE html>
<html>
<header>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
</header>

<body>
    <div id="mapid" style="height: 600px; width: 100%;"></div>
</body>
<script>

    var mymap = L.map('mapid').setView([13.505, 100.09], 6);
    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1IjoiZHVrc2llZyIsImEiOiJja2t6NGg3a3IyMHd3Mm9tcHNpZzhreGF1In0.J74X2QPW3swws4J81-fzuA'
    }).addTo(mymap);

    async function getjsondata() {
        let result = await fetch('pointsdata')
        let finalresult = await result.json().then(function (json) {
            for (let index = 0; index < json.data.length; index++) {
                const point = json.data[index];
                let pointName = point.pointName
                let pointLatlng = point.pointLatlng.split(",")
                let lon = pointLatlng[1]
                let lat = pointLatlng[0]
                let popupText = pointName

                let markerLocation = new L.LatLng(lon, lat);
                let marker = new L.Marker(markerLocation);
                mymap.addLayer(marker);

                marker.bindPopup(popupText);
            }
            
            
    })}
    //getjsondata()
</script>
</html>