<!DOCTYPE html>

<html>
    <header>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>นารายณ์ปราบศาสตรา</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    </header>
    <body>
        <div class="card">
            <div class="card-body text-center">
                ท่านทำรายการไม่ถูกต้องกรุณาทำรายการใหม่ 
                เนื่องจาก <%= reason %>
            </div>
            <div class='card-text'>
                หากมีปัญหา กรุณาติดต่อ .....
            </div>
          </div>
    </body>
</html>